
<div class="container">

<h1 class="center">Welcome, You are successfully authorized to this web page!</h1>
<div class="card center">
  <input class="input" type="text" placeholder="Enter username for filtering" [(ngModel)]="username">
</div>

  <table>
  <tr>
    <th><div (click)="sort()" >User ID <i class="{{sorted ? 'arrow down' : 'arrow up'}}"></i> </div></th>
    <th>Username</th>
  </tr>
  <tr *ngFor="let user of userList | usernameFilter:username; let i=index">
    <td>{{user.id}}</td>
    <td>{{user.username}}</td>
  </tr>
  </table>

<button (click)="logout()">Logout</button>
</div>
